<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.borove.playerborove"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.borove.playerborove.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  <service android:name="MyService2"/>-->
        <service android:name="MusicService"/>
        
        <intent-filter>
            <action android:name="it.borove.playerborove.SERVICE"/>
        </intent-filter>
         
         <activity
            android:name="it.borove.playerborove.menuTrack"
            android:label="@string/title_activity_player"
            android:theme="@android:style/Theme.Holo.Dialog" >
           <!--   android:windowSoftInputMode="stateAlwaysVisible|adjustPan"-->
        </activity>
         <intent-filter>
            <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE"/>
        </intent-filter>
         
        <activity
            android:name="it.borove.playerborove.TrackActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity
            android:name="it.borove.playerborove.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity
            android:name="it.borove.playerborove.PlaylistActivity"
            android:label="@string/title_activity_playlist" >
        </activity>
        <activity
            android:name="it.borove.playerborove.LibraryActivity"
            android:label="@string/title_activity_library" >
        </activity>
        <activity
            android:name="it.borove.playerborove.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="it.borove.playerborove.PlaylistAddActivity"
            android:label="@string/title_activity_playlist_add" >
        </activity>
    </application>

</manifest>
